.App {
  text-align: center;
  margin-top: 50px;
  background: #81a3c8;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

img {
  border-radius: 50%;
  margin-top: 20px;
  width: 300px;
  height: 200px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1); /* Agrandir l'image de 10% */
}

.profile {
  margin-top: 20px;
}

.profile p {
  margin-bottom: 10px;
}

.time {
  margin-top: 50px;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: #007bff;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
